* {
  margin: 0px;
  padding: 0px;
}


@media only screen and (max-width: 600px) {
  .line {
    border: 1px solid rgb(225, 235, 234);
    width: 230px;
    margin-right: 25px;
  }
}


@media only screen and (min-width: 600px) {
  .line {
    border: 1px solid rgb(225, 235, 234);
    width: 600px;
  }
}

@media only screen and (min-width: 600px) {
  .map {
   margin-left: 15px;
   color: #363a3a;
  }
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sidebar {
  /* max-width: 240px; */
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.sidebar-item-content {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
  color: #fff;
  margin-bottom: 10px;
}

.sidebar-item-icon {
  margin-right: 6px;
}

.sidebar-item-text {
  width: 100%;
}

.sidebar-item-expand-arrow {
  font-size: 1.2rem !important;
}

.sidebar-item-expand-arrow-expanded {
  color: #fff;
  font-weight: bold;
}